.details-title {
  background-color: #ff4e4a;
  border-radius: 15px;
  color: white;
  margin: 20px auto;
  margin-bottom: 25px;
  padding: 8px;
  font-family: "itim", sans-serif;
  font-size: 25px;
  width: 350px;
}

.pokemon-card-container {
  background-color: #c4efff;
  border-radius: 20px;
  box-shadow: 3px 5px 10px rgb(89, 89, 89);
  margin: 40px auto;
  margin-bottom: 70px;
  padding: 10px 15px 30px 30px;
  width: 600px;
}

.inline-containers {
  display: inline-flex;
}

.card-image-container {
  align-items: center;
  background-color: white;
  box-shadow: 3px 5px 10px rgb(89, 89, 89);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.card-image-container img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-height: 300px;
  max-width: 230px;
  padding: 10px;
}

.right-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: start;
}

.name-type-container {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.name {
  font-family: "Boogaloo", sans-serif;
  font-size: 25px;
  margin: 5px 5px 0 5px;
}

.type {
  background-color: rgb(238, 237, 237);
  border-radius: 20px;
  box-shadow: 3px 5px 10px rgb(89, 89, 89);
  margin: 5px 5px 0 5px;
  padding: 0 7px 0 7px;
}

.details p {
  padding: 0 30px;
}

.edit-button {
  color: black;
  margin: 5px;
}

.edit-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.inline-btns {
  align-items: center;
  display: flex;
  justify-content: right;
  margin: 20px 20px 0 0;
}

@media only screen and (max-width: 600px) {
  .pokemon-card-container {
    padding: 20px;
    width: 300px;
  }

  .details-title {
    width: 270px;
  }

  .inline-containers {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  .pokemon-card-container {
    padding: 8px;
    width: 260px;
  }

  .details-title {
    width: 200px;
  }
}
