.details-title {
  background-color: #ff4e4a;
  color: white;
  width: 350px;
  margin: 30px auto;
  border-radius: 20px;
  font-family: "itim", sans-serif;
  font-size: 25px;
}

.card-container {
  display: inline-flex;
  min-width: 400px;
}

.card-image-container img {
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-details-container {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

/* .right-details-container p {
  margin: 10px;
} */

.name-type-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.name {
  margin: 5px;
}

.type {
  margin: 5px;
  background-color: rgb(238, 237, 237);
  border-radius: 20px;
  padding: 0;
}

svg {
  color: black;
}
