.footer {
  border-top: 2px solid black;
  overflow: hidden;
  margin-top: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  right: 0;
}

.footer img {
  height: 25px;
  margin-top: 10px;
  padding: 0 08px;
}

.footer img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.3s;
}
