.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.form-title {
  font-family: "itim", sans-serif;
  font-size: 25px;
  margin: 0 0 10px 0;
  color: white;
  text-align: center;
}

select:focus,
textarea:focus,
input:focus,
button:focus {
  outline-width: 5px;
  outline-style: dotted;
  outline-color: #ff4e4a;
}

input[type="text"],
select,
textarea {
  width: 300px;
  padding: 5px 15px;
  margin: 4px 0 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "itim", sans-serif;
  font-size: 15px;
}

input[type="date"] {
  width: 300px;
  padding: 5px 15px;
  margin: 4px 0 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "itim", sans-serif;
  font-size: 15px;
}

textarea {
  height: 90px;
}

.save-btn {
  width: 100px;
  height: 30px;
  font-family: "itim", sans-serif;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 300px;
  }

  input[type="text"],
  select,
  textarea {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .form-container {
    width: 225px;
  }

  input[type="text"],
  select,
  textarea {
    width: 220px;
  }
}
