/* html {
  background-color: #c4efff;
} */

.home-title {
  background-color: #ff4e4a;
  color: white;
  width: 350px;
  margin: 30px auto;
  border-radius: 20px;
  font-family: "itim", sans-serif;
  font-size: 45px;
}

.home-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  margin: auto;
  /* background-color: #c4efff; */
  /* background-color: #18bca2; */
  /* background-color: #fef5e1; */
  border-radius: 20px;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card-images-container {
  /* width: 200px;
  height: 70px; */
  /* border: 1px solid rgb(172, 172, 172); */
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 3px 5px 10px rgb(89, 89, 89);
}

.card-images-container:hover {
  /* background-color: #ff8280; */
  transform: scale(1.2);
}

.image {
  height: 170px;
  margin: auto;
}

.card-image {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.plus-button {
  color: black;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 5px;
}

.plus-button:hover {
  transform: scale(1.2);
}
