.home-title {
  background-color: #ff4e4a;
  color: white;
  width: 350px;
  margin: 30px auto;
  border-radius: 20px;
  font-family: "itim", sans-serif;
  font-size: 45px;
}

.home-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  margin: auto;
}

.card-titles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  margin: auto;
}

.plus-button {
  cursor: pointer;
  /* position: absolute; */
  bottom: 0px;
  right: 30px;
  margin: 10px;
}

.plus-button:visited {
  text-decoration: none;
  color: black;
}
