.top-nav {
  background-color: #ff4e4a;
  height: 35px;
  display: flex;
  /* justify-content: right; */
  align-items: center;
}

.inline-nav {
  display: inline-flex;
  /* color: white;
  font-family: "itim", sans-serif; */
  font-size: 17px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeapps-link {
  margin: 0 15px 0 0;
  color: white;
  font-family: "itim", sans-serif;
}

.pokebinder-link {
  margin: 0 15px 0 0;
  color: white;
  font-family: "itim", sans-serif;
  justify-content: right;
}

.link:hover {
  color: #ffd4d4;
}
