.top-nav {
  background-color: #ff4e4a;
  overflow: hidden;
}

.top-nav a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}

.top-nav a:hover {
  color: #ffd4d4;
  cursor: pointer;
}

.top-nav-right {
  float: right;
  font-family: "itim", sans-serif;
  font-size: 22px;
}

.pokeapps-link {
  font-family: "Boogaloo", sans-serif;
  font-size: 25px;
  padding: 10px;
}

.pokebinder-link {
  padding: 10px 10px;
}

.search-link {
  padding: 10px 20px 10px 10px;
}

@media only screen and (max-width: 370px) {
  .pokeapps-link {
    padding: 10px;
  }

  .pokebinder-link {
    padding: 10px;
  }

  .search-link {
    padding: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .top-nav-right {
    font-size: 18px;
  }

  .pokeapps-link {
    font-family: "Boogaloo", sans-serif;
    font-size: 22px;
  }
}
