.top-nav {
  background-color: #ff4e4a;
  overflow: hidden;
}

.top-nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.top-nav a:hover {
  color: #ffd4d4;
}

.top-nav-right {
  float: right;
  font-family: "itim", sans-serif;
  font-size: 22px;
}

.pokeapps-link {
  font-family: "Boogaloo", sans-serif;
  font-size: 25px;
}

/* .top-nav {
  background-color: #ff4e4a;
  height: 35px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.inline-nav {
  display: inline-flex;
  font-size: 17px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 0 15px 0 0;
  color: white;
  font-family: "itim", sans-serif;
}

.link:hover {
  color: #ffd4d4;
} */
