.search-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
}

.search-input {
  width: 40vw;
  max-width: 550px;
  padding: 7px 15px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "itim", sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: transparent;
}

.searched-card-container {
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 3px 5px 10px rgb(89, 89, 89);
}

.searched-card-container:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
}

.searched-card {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searched-card-image {
  height: 200px;
  margin: auto;
}

@media only screen and (max-width: 780px) {
  .search-container {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .search-container {
    width: 300px;
  }

  .searched-card-image {
    height: 330px;
  }

  .searched-card-container:hover {
    transform: scale(1.1);
  }

  .search-input {
    width: 300px;
    padding: 10px 15px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 300px) {
  .search-container {
    width: 250px;
  }

  .searched-card-image {
    height: 310px;
  }

  .search-input {
    width: 250px;
    padding: 10px 15px;
    font-size: 17px;
  }
}
