.delete-button {
  color: black;
  margin: 5px;
}

.delete-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.confirm-delete {
  color: black;
  font-family: "itim", sans-serif;
  font-size: 30px;
  margin: 0 0 7px 0;
}

.confirm-border {
  align-items: center;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  text-align: center;
  width: 250px;
}

.confirm-message {
  color: black;
  font-family: "itim", sans-serif;
  font-size: 21px;
  margin-top: 0px;
  text-align: center;
}

.inline-delete-btns {
  align-items: center;
  display: flex;
  justify-content: center;
}

.no-btn,
.yes-btn {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-family: "itim", sans-serif;
  font-size: 22px;
  height: 35px;
  justify-content: center;
  margin: 0 8px;
  text-align: center;
  width: 55px;
}

.no-btn:hover,
.yes-btn:hover {
  transform: scale(1.1);
}

.no-btn {
  background-color: transparent;
  border: 2px solid black;
  color: black;
}

.yes-btn {
  background-color: #ff4e4a;
  border: none;
  color: white;
}

@media only screen and (max-width: 320px) {
  .confirm-border {
    padding: 10px;
    width: 200px;
  }
}
